{% extends "base.html" %}

{% block meta_tags %}
		<meta name="title" content="{{object.name}} - ArteCriollo Cuba" />
		<meta name="keywords" content="Artecriollo cuba, Tienda artecriollo en Cuba, Tienda de Artesanía"/>
		<meta name="description" content="{{object.name}"/>
{% endblock meta_tags %}

{% block open_graph %}
		<meta property="og:url" content="{{object.get_absolute_url}}"/>
		<meta property="og:title" content="{{object.name}} | ArteCriollo"/>
		{% if objectc.image %}
            <meta property="og:image" content="{{object.image.url}}" xmlns:og="http://opengraphprotocol.org/schema/"/>
        {% else %}
    		<meta property="og:image" content="https://artecriollo.nat.cu/static/images/icon_share.jpg" xmlns:og="http://opengraphprotocol.org/schema/"/>

        {% endif %}
		<meta property="og:description" content="Contacta con nosotros para cualquier inquietud sobre artecriollo y sus servicios. Será un placer atenderle🤗​" xmlns:og="http://opengraphprotocol.org/schema/"/>
{% endblock open_graph %}

{% block head_title %}
{{object.name}}
{% endblock head_title %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center" >{{object.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{{object.content|safe}}</p>
        </div>
    </div>
</div>
{% endblock content %}