{% extends 'new-theme/base.html' %}

{% block content %}
    <div class="site-sectino">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-m-12">
                    <h2 class="text-black">
                        Perfil
                    </h2>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">
                                <strong>Correo:</strong> {{request.user.email}}
                            </p>
                            <hr>
                            <p class="card-title">
                                <strong>Teléfono:</strong> {{request.user.profile.phone}}
                            </p>
                            <hr>
                            <p class="card-title">
                                <strong>Nombre(s):</strong> {{request.user.first_name}}
                            </p>
                            <hr>
                            <p class="card-title">
                                <strong>Apellido(s):</strong> {{request.user.last_name}}
                            </p>
                            <hr>
                            <p class="card-title">
                                <strong>DIRECCIONES</strong>
                                <br>
                                {% for address in request.user.address_set.all %}
                                <strong>Dirección de {% if address.address_type == 'B' %}
                                Billing
                                {% else %}
                                Shipping
                                {% endif %} :
                                </strong>
                                <p>Calle: {{address.address_line_1}} </p>
                                <p>Entre: {{address.address_line_2}} </p>
                                <p>Ciudad: {{address.city}} </p>
                                <p>{% if address.zip_code %}Codigo postal:                                 
                                    {{address.zip_code}}
                                {% endif %}  </p>
                                
                                {% endfor %}
                            </p>
                    

                        </div>

                        <hr>
                        <h3 class="card-title">Tus pedidos</h3>
                        {% if orders.count > 0 %}
                        
                        <div class="site-blocks-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Referent No.</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td><a href="{% url 'cart:order-detail' order.pk %}">#{{order.reference_number}}</a></td>
                                        <td>{{order.ordered_date}}</td>
                                        <td>{{order.get_total}}</td>
                                        <td>
                                            {% if order.ordered %}
                                                Paid
                                            {% else %}
                                                Not paid
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">
                                            You havent made any purchase
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                        {% else %}
                            <p>Aún no tienes pedidos, <a href="{% url 'shop:category-list'  %}">realiza tu primera ordén aquí</a> </p>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        <a class="btn btn-danger" href="{% url 'account_logout' %}"> <small class="float-right" >Cerrar sesión</small></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock%}