{% extends "base.html" %}

{% block content %}


<div class="container padding-top-15">
     <div class="row">
         <h1>Categoria: {{category.name}}</h1>
     </div>
    <div class="row">
        <div class="col-md-9">

            {% for post in object.category_post.all|dictsortreversed:"updated_at"  %}
            
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{post.get_absolute_url}}" class="cta-btn">
                    <div class="thumbnail" style="border-radius: 10px;">
                        <img src="{{post.image.url}}" style="height: 200px;" alt="">
                        <h3 class="text-center">{{post.name}}</h3>
                        <div class="caption">
                            <p>{{post.content|safe|truncatechars:100}}</p>
                  <p class="pull-right"><a href="{{post.get_absolute_url}}" class="btn btn-primary" role="button">Leer más</a></p>
                </div>
              </div>
            </a>
            </div>

            
            {% endfor %}
        </div>
        <div class="col-md-3 col-xs-12">
            {% include "parts/blog/side_bar_blog.html" %}
        </div>

    </div>
</div>
    {% endblock content %}