{% extends "base.html" %}

{% block content %}

    {% comment %} <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="{% url 'home' %}">Home</a>
                    <span class="mx-2 mb-0" >/</span>
                    <strong class="text-block">Cart</strong>
                </div>
            </div>
        </div>
    </div>
 {% endcomment %}


<div class="site-section">
    <div class="container">

            <div class="col-md-12">
                {% if order.items.count > 0 %}

                <div class="table-responsive">

                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.items.all %}
                            <tr>
                                <td class="product-thumbnail">
                                    <a href="{{item.product.get_absolute_url}}">
                                        <img src="{{ item.product.image.url }}" style="height: 10rem" class="img-fluid">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a href="{{item.product.get_absolute_url}}">
                                        <h2 class="h5 text-black">{{ item.product.title }}</h2>
                                    </a>
                                    <!-- <small><strong>Size:</strong> {{ item.size.name }}</small> -->
                                    <br>
                                    <!-- <small><strong>Colour:</strong> {{ item.colour.name }}</small> -->
                                
                                </td>
                                <td>{{item.product.get_price}}</td>
                                <td>
                                    <div class="input-group mb-3" style="max-width: 120px;">
                                        <div class="input-group-pretend">
                                            <a href="{% url 'shop:increase-quantity' item.id %}" class="btn btn-outline-primary" onclick="showLoader()">
                                                <i class="fa fa-plus-circle" style="font-size: x-large;"></i>
                                    
                                            </a>
                                        </div>
                                        
                                        <input type="text" class="form-control text-center" value="{{ item.quantity}}">
                                        
                                         
                                        <div class="input-group-pretend">
                                            <a href="{% url 'shop:decrease-quantity' item.id %}" class="btn btn-outline-primary" onclick="showLoader()">
                                                <i class="fa fa-minus-circle" style="font-size: x-large;"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </td> 
                                <td>
                                   ${{item.get_total_item_price}} 
                                </td>
                                <td>
                                    <a href="{% url 'shop:remove-from-cart' item.id %}" onclick="showLoader()" class="btn btn-primary btn-sm">x</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">
                                    No se encuentran productos en su carro<a href="{% url 'shop:category-list' %}">Continuar comprando</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>


             {% else %}
                    <tr>
                        <td colspan="6">
                            Actualmente no tienes productos en el carrito, para agregar <a href="{% url 'shop:category-list' %}"><strong> acceda a la tienda</strong></a>
                        </td>
                    </tr>
                {% endif %}







            











            

        </div>

        {% if order.items.count > 0 %}
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <a class="btn btn-outline-rpimary btn-sm btn-block"
                             href="{% url 'shop:category-list' %}"><p> Continuar comprando </p></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row justify-content-end">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-block h4 text-uppercase"><strong> Total en el carro</strong></h3>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-rigth">
                                    <strong class="text-black">${{order.get_subtotal}}</strong>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Envio</span>
                                </div>
                                <div class="col-md-6 text-rigth">
                                    <strong class="text-black">${{order.get_total_shipping}}</strong>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-rigth">
                                    <strong class="text-black">${{order.get_total}}</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'shop:checkout' %}" class="btn btn-warning btn-lg py-3 btn-block" onclick="showLoader()">Chequear productos</a>
                                </div>
                              
                            </div>
                        </div>
                    </div>
            </div>
        {% endif %}
    </div>
</div>



{% endblock %}