{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Categorías:</h1>
  </div>
</div>

<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
                    {% for cat in object_list %}
                        {% if cat.active %}
                        
                            <div class="col-md-4 col-xs-12">
                                <a href="{{cat.get_absolute_url}}" class="cta-btn">
                                    <div class="shop">
                                        <div class="shop-img">
                                            {% if not cat.image %}
                                                <img src="{% static 'images/no-image.png' %}" alt="" height="300">
                                            {% else %}
                                                <img src="{{cat.image.url}}" alt="" height="300">
                                            {% endif %}
                                        </div>
                                        <div class="shop-body">
                                            <h3>{{cat.name}}</h3>
                                            <a href="{{cat.get_absolute_url}}" class="cta-btn">Comprar ahora <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        

                    {% endfor %}
					<!-- /shop -->

			
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>




{% endblock %}