{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}










    
<!-- <div class="site-section"> -->
    <div class="container">
            {% if not request.user.is_authenticated %}
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="border p-4 rounded" role="alert">
                        Ya casi ha terminado con su pedido.
                        Para finalizar su pedido, por favor <a href="">Acceda</a> ó <a href="">Regístrese</a>
                    </div>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-label="90" aria-valuemin="0" aria-valuemax="100">
                            90% Completo
                        </div>
                    </div>
                </div>
            </div>
				{% else %}

                	{% if order.items.count > 0 %}
							

							<div class="row">
							<div class="col-md-6 mb-md-0">
							<!-- <form method="POST" onsubmit="return validar();"> -->
							<form method="POST" id="submit-order-form">
								{% csrf_token %}
										<h2 class="h3 mb-3 text-black text-center">Detalles de facturación</h2>
										<hr />
									
										<div class="form-group">
											{{form|crispy}}
										</div>
								




											<!-- <div class="p-2 p-lg-2">
												{% comment %} {{ form|crispy }} {% endcomment %}
											{{form.pais}}
											<div class="order-notes">
												<textarea name="note" class="input" placeholder="Notas para la orden"></textarea>
											</div>
											</div> -->
										<!-- <div class="form-group">
											<button type="submit" class="btn btn-success btn-lg py-3 btn-block">
												Proceed to Payment
											</button>
										</div> -->
									</div>


									<div class="col-md-5 order-details">
										<div class="section-title text-center">
											<h3 class="title">Tu Orden</h3>
										</div>
										<div class="order-summary resumen_order">
											<div class="order-col">
												<div><strong>PRODUCTO</strong></div>
												<div><strong>TOTAL</strong></div>
											</div>
											<div class="order-products">
												{% for item in order.items.all %}
												<div class="order-col">
													<div><strong class="mx-2">{{ item.quantity }} x </strong> {{ item.product.title }}</div>
													<div>${{ item.get_total_item_price}}</div>
												</div>
																						
												{% endfor %}
												
											</div>
											<div class="order-col">
												<div>SUBTOTAL</div>
												<div><strong>${{ order.get_subtotal }}</strong></div>
											</div>
											<div class="order-col">
												<div>ENVIO</div>
												<div><strong>${{ order.get_total_shipping }}</strong></div>
											</div>
											<div class="order-col">
												<div><strong>TOTAL</strong></div>
												<div><strong class="order-total">${{ order.get_total }}</strong></div>
											</div>
										</div>
										<div class="payment-method">
											<p>Seleccionar método de pago</p>
											<div class="input-radio">
												<input type="radio" checked name="payment_method" value="enzona" id="payment-1">
												<label for="payment-1">
													<span></span>
													PAGO CON ENZONA
												</label>
												<div class="caption">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>
												
											</div>

											<div class="input-radio">
											

												<input type="radio" name="payment_method" value="efectivo" id="payment-2">
												<label for="payment-2">
													<span></span>
													PAGO CON EFECTIVO
												</label>
												<div class="caption">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>

												
											</div>
									
										</div>
										<div class="input-checkbox">
											<input type="checkbox" id="terms" onclick="validar()" required>
											<label for="terms" id="label-terms" >
												<span></span>
												He leído y acepto los <a href="https://artecriollo.nat.cu/page/terminos-y-condiciones" target="_blank" rel="noopener noreferrer">términos y condiciones</a>
											</label>
										</div>
					
										<button id="btn-payment" onclick="submit_order()" class="primary-btn order-submit btn-lg btn-block">Realizar pedido</button>
									</div>
									
								</form>
							</div>
						</div>

					{% else %}
						<tr>
							<td colspan="6">
								Actualmente no tienes productos en el carrito, para Chequear <a href="{% url 'shop:category-list' %}"><strong> acceda a la tienda</strong></a>
							</td>
						</tr>
					{% endif %}

            {% endif %}        
    </div>

	

{% endblock %}
{% block scripts %}
<script src="{% static 'new/js/jquery.min.js' %}"></script>

<script>

$(document)
  .ajaxStart(function () {
 	showLoader()
  })
  .ajaxStop(function () {
   	hideLoader()
  });

var link ="cambioOpcionesSelcet()"

var preview = document.getElementById("id_localidad"); //getElementById instead of querySelectorAll
preview.setAttribute("onchange", link);

var delivery_method = document.getElementById("id_delivery_method"); //getElementById instead of querySelectorAll
delivery_method.setAttribute("onchange", link);

function cambioOpcionesSelcet(){


	localidad = $("#id_localidad option:selected").text()
	delivery_method = $("#id_delivery_method option:selected").text()

	const Url = "{% url 'shop:actualizar_costo_mensajeria' %}"
	
	const payload={
		localidad:localidad,
		delivery_method:delivery_method 
	};
	

	$.ajax({
		url: Url,
		type: "POST",
		headers: {
			"X-Requested-With": "XMLHttpRequest",
			'X-CSRFToken': csrftoken
		},
		data: JSON.stringify({ payload: payload}),
  		contentType: "application/json",
		success:function(){

			$('.resumen_order').load(location.href + " .resumen_order");
			const resumen_order = document.querySelector('.resumen_order');
		
					
			hideLoader()

		},
		error:function(){
			hideLoader()
			console.log("ERRRORR")
		}
	})

	}



var payment = document.getElementsByName('payment');


function validar(){
	var payment = document.getElementsByName('payment');
	var btn_payment = document.getElementById('btn-payment');
	var ckbox = document.getElementById('terms');

	if(ckbox.checked == true){
		btn_payment.disabled=false
	
	}else{
		alert("Debe aceptar los términos y condiciones")
		btn_payment.disabled=true

	}
		
	return false;
}



function submit_order(){
	const form = document.getElementById('submit-order-form');
	var btn_payment = document.getElementById('btn-payment');

	var label_terms = document.getElementById('label-terms');
	var ckbox = document.getElementById('terms');

	if(ckbox.checked == true){
	
		$('#loading').show();

		btn_payment.submit()
	}else{
		alert("Debe aceptar los términos y condiciones")
		return label_terms.style.color="red";			
	}

	return false;
}



	// municipio

	</script> 
{% endblock scripts %}