{% extends "base.html" %}
{% load static %}
{% block content %}

    {% comment %} <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="{% url 'home' %}">Home</a>
                    <span class="mx-2 mb-0" >/</span>
                    <strong class="text-block">ENZONA Payment</strong>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 mb-0">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"> <strong>ORDEN:</strong> #53 <br> <strong>FECHA:</strong> 16/02/2022</div>
                    <div class="panel-body">
                      <p>
                          <strong>NOMBRES:</strong> Barbaro de la Rosa <br>
                          <strong>APELLIDOS:</strong> de la Rosa Valera <br>
                          <strong>CORREO:</strong>barbaro@gmail.com <br>
                          <strong>TELÉFONO:</strong>+5354063095 <br>
                          <strong>DIRECCIÓN:</strong>Calle Maria Luisa <br>
                          <strong>NOTA:</strong> sdlksdl ksd sdfk sdlf ksdf lsdf msdf lskdmf lksdmfl 


                      </p>
                    </div>
                
                    <!-- Table -->
                    <table class="table">
                       <thead>
                           <tr>
                               <th>#</th>
                           <th>IMAGEN</th>
                           <th>PRODUCTO</th>
                           <th>CATIDAD</th>
                           <th>PRECIO</th>
                           <th>TOTAL</th>
                        </tr>
                       </thead>

                       <tbody>
                           <tr>
                               <th>
                                   1
                               </th>
                               <td>
                                   IMAGEN
                               </td>
                               <td>NOMBRE DEL PRODUCTO</td>
                               <td>5</td>
                               <td>$5.00</td>
                               <td>$25.00</td>
                           </tr>
                           <tr>
                            <th>
                                1
                            </th>
                            <td>
                                IMAGEN
                            </td>
                            <td>NOMBRE DEL PRODUCTO</td>
                            <td>5</td>
                            <td>$5.00</td>
                            <td>$25.00</td>
                        </tr>
                       </tbody>
                       
                    </table>
                  </div>
            </div>
           
            <div class="row">
                <div class="col-md-12 mb-0">

                    <div class="pull-right">
                        
                        <a href=" {{url_confirm.href}}" class="primary-btn order-submit btn-lg">
                            Confirmar
                        </a>             
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}