{% extends "base.html" %}
{% load price_format_tags %}
{% load discount_tags %}
{% load static %}


{% block content %}



<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
							<div class="aside">
								<h3 class="aside-title">Categorías</h3>
								<div class="checkbox-filter">
									{% for cat in categories  %}
										{% if cat.product_set.count and cat.active %}
											<div class="input-checkbox">
												<a href="{% url 'shop:product-list' cat.slug %}">
													{{cat.name}}
												</a>
												<!-- <input type="checkbox" id="{{cat.slug}}"> -->
												<!-- <label for="{{cat.slug}}"> -->
													<span></span>
													{% comment %} <small> - ({{cat.product_set.count}})</small> {% endcomment %}
												<!-- </label> -->
											</div>                                
										{% endif %}
									{% endfor %}

								</div>
							</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
							<form action="" method="get">
								<div class="aside">
									<h3 class="aside-title">Precio</h3>
										<div class="form-group">
											<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
											<div class="input-group">
											<div class="input-group-addon">$</div>
											<input type="text" name="price-min" class="form-control" id="exampleInputAmount" placeholder="Precio mínimo">
											<div class="input-group-addon">.00</div>
											</div>
											<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
											<div class="input-group">
											<div class="input-group-addon">$</div>
											<input type="text"  name="price-max" class="form-control" id="exampleInputAmount" placeholder="Precio máximo">
											<div class="input-group-addon">.00</div>
											</div>
										</div>
								</div>
								<!-- /aside Widget -->
							
								<!-- aside Widget BUTTON-->
								<div class="aside">
									<h3 class="aside-title">Filtrar</h3>
									<button type="submit" class="btn primary-btn "><i class="fa fa-filter"></i><span class="tooltipp"> Aplicar filtros</span></button>
								</div>
							</form>
							<!-- /aside Widget BUTTON -->

					</div>
							<!-- /ASIDE -->
							<!-- STORE -->
						<div id="store" class="col-md-9">
							<!-- store top filter -->
								<div class="store-filter clearfix">
									<div class="store-sort">
										<form action="" method="get">
											<label>
												<select name="sort-by" class="form-control" onchange="this.form.submit()">
													<option value="price">Ordenar:</option>
													<option value="price">Precio: de más bajo a más alto</option>
													<option value="-price">Precio: de más alto a más bajo</option>
												</select>
											</label>
										</form>
									</div>
								</div>
							
							<!-- /store top filter -->






							<!-- store products -->
							<div class="row">
							<!-- product -->
                            {% for product in object_list  %}
                            
								<div class="col-md-4 col-xs-6" style="height: 450px;">
									<div class="product">
										<a href="{{product.get_absolute_url}}">
										<div class="product-img">
											 {% if product.image %}
												<img src="{{product.image.url}}" height="200" width="200" alt="">
											{% else %}
												<img src="/{% static 'images/no-image.png' %}" alt="" height="200" width="200">
											{% endif %}
											<div class="product-label">
												{% if product.old_price > 0 %}
													<span class="sale">{% discount product.old_price product.price%}</span>
												{% endif %}
												{% if  product.new %}
													<span class="new">NUEVO</span>													
												{% endif %}
											</div>
										</div>
										</a>
										<div class="product-body">
											<p class="product-category">
												{% for product_cat in product.category.all   %}
													<a href="{{product_cat.get_absolute_url}}"> [{{product_cat}}] </a>
												{% endfor %}
											</p>
											<a href="{{product.get_absolute_url}}">
												<h3 class="product-name">{{product.title}}</h3>
											
												<h4 class="product-price">{{product.price|price_format_cup}} 
													{% if product.old_price > 0 %}
														<del class="product-old-price">{{product.old_price|price_format_cup}}</del>
													{% endif %} 
												</h4>
												
											</a>
												{% if not product.digital %}
													<div style="color: blue;">{{product.stock}} en stock</div>
											
												{% endif %}
											<div class="product-rating" style="margin: 0px; padding: 0px;">
											{% comment %} 
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>{% endcomment %}
											</div> 
											<div class="product-btns">
											{% comment %} {% if not product.digital %} FUNCIONA OK
										
												{% if product in user.profile.whishlist.all%}
													<a href="{% url 'profile:addorremovetowhishlist' product.id %}" class="add-to-wishlist" style="color: #D10024;"><i class="fa fa-heart"></i>
													</a>
												{%else%}
													<a href="{% url 'profile:addorremovetowhishlist' product.id %}" class="add-to-wishlist"><i class="fa fa-heart-o"></i>
													</a>
												{%endif%}
											{% endif %} {% endcomment %}
												{% comment %} <form action="{% url 'profile:addorremovetowhishlist' product.id %}"> {% endcomment %}
												{% comment %} </form> {% endcomment %}
												<!-- <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> -->
												<br>
												{% if request.user.is_authenticated %}
													{% if product.digital %}
														{% if product in request.user.library.products.all %}
						
															{% if product.content_url %}
																<a  style="margin: 10px;"  href="{{product.content_url}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
																	Acceder a enlace
																</a>
															{% endif %}
																			
															{% if product.content_file %}
																<a style="margin: 10px;" href="{% url 'profile:product_file_view' product.pk %}" class="btn btn-primary">
																	Descargar archivo
																</a>
															{% endif %}
														{% else %}
															<form action="{% url 'shop:payment-enzona-digital-product' product.pk%}"  method="POST">
															{% csrf_token %}
															
															<input type="hidden" name="title" value="{{product.title}}">
															<input type="hidden" name="description" value="{{product.description}}">
															<input type="hidden" name="price" value="{{product.price}}">
															<button type="submit" class="btn btn-warning quick-view"><i class="fa fa-credit-card"></i> COMPRAR</button>
															</form>
														{%endif%}
													{% else %}
														<form action="{%url 'shop:add-to-cart' product.id %}" method="POST" >{% csrf_token %}
														<input type="hidden" name="quantity" value="1">
														
														<button type="submit" class="btn btn-success quick-view"><i class="fa fa-shopping-cart" style="font-size: large;"></i><span class="tooltipp"> Agregar a carrito</span></button>
														
														</form>
													{% endif %}
												{% else %}
													{% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> {% endcomment %}

													<button type="button" class="quick-view" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-shopping-cart" style="font-size: x-large;"></i><span class="tooltipp">Agregar a carrito</span></button>
												{% endif %}
											</div>
										</div>
										{% comment %} <div class="add-to-cart">
										<form action="{{product.get_absolute_url}}">
											<button class="add-to-cart-btn"><i class="fa fa-eye"></i> Ver producto</button>
										</form>
										<form action="{% url 'shop:add-to-cart' product.id %}" method="post">
											
											{% csrf_token %}
											<button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</form>
											 
										</div> {% endcomment %}
									</div>
								</div>
                            {% endfor %}
							<!-- /product -->

							

							</div>
							{% if not object_list %}
								<p> En éste momento no se encuentran productos para esta categoría </p>
							{% endif %}
							<!-- /store products -->

						<!-- store bottom pagination -->
							<!-- <div class="store-filter clearfix">
								<span class="store-qty">Showing 20-100 products</span>
								<ul class="store-pagination">
									<li class="active">1</li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
								</ul>
							</div> -->

							<div class="row">
								<nav aria-label="...">
								  <ul class="pager">
									{% if object_list.has_previous %}
									  <li ><a class="button-paginate"href="?{{parametros.urlencode}}&page=1">&laquo; primera página</a></li> 
									  <li><a class="button-paginate"href="?{{parametros.urlencode}}&page={{ object_list.previous_page_number }}">anterior</a></li> 
									{% endif %}
									{% if object_list.has_previous or  object_list.has_next%}									
										Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
									{% endif %}
									{% if object_list.has_next %}
										<li><a class="button-paginate"href="?{{parametros.urlencode}}&page={{ object_list.next_page_number }}">siquiente</a></li>
										<li><a class="button-paginate"href="?{{parametros.urlencode}}&page={{ object_list.paginator.num_pages }}">última página &raquo;</a></li>
									{% endif %}
								  </ul>
								</nav>
							  </div>
							</div>
						<!-- /store bottom pagination -->
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->






{% endblock %}