{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load price_format_tags %}
{% load discount_tags %}
{% load static %}

{% block meta_tags %}
		<meta name="title" content="{{product.title}} - ArteCriollo Cuba" />
		<meta name="keywords" content="{{product.title}}Artecriollo cuba, Tienda artecriollo en Cuba, Tienda de Artesanía"/>
		<meta name="description" content="{{product.description}}"/>
{% endblock meta_tags %}

{% block open_graph %}
		<meta property="og:url" content="{{ request.build_absolute_uri }}"/>
		<meta property="og:title" content="{{product.title}} | ArteCriollo"/>
		{% if product.image %}
			<meta property="og:image" content="https://{{request.get_host}}{{product.image.url}}" xmlns:og="http://opengraphprotocol.org/schema/"/>
		{% else %}
			<meta property="og:image" content="https://artecriollo.nat.cu/static/images/icon_share.jpg" xmlns:og="http://opengraphprotocol.org/schema/"/>
		{% endif %}

		<meta property="og:description" content="{{product.description}}" xmlns:og="http://opengraphprotocol.org/schema/"/>
{% endblock open_graph %}

{% block head_title %}
{{product.title}}
{% endblock head_title %}

{% block content %}

<style>

.btn-pay-product-digital {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 30px;
  background-color: #ef233c;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
</style>


<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2" >					
						<div id="product-main-img"  >
                          	{% if product.product_images.count == 0 %}
                                    <img src="{% static 'images/no-image.png' %}" height="400" width="500" class="img-responsive" alt="no-image-artecriollo-cuba" >									
							{% else %}
								{% for product_image in product.product_images.all  %}
									{% comment %} <div class="product-preview"> {% endcomment %}
									<div>
										<a data-toggle="modal" href="#imgProduct">
											<img src="{{product_image.file.url}}" height="400" width="500" class="img-responsive" alt="{{product.image.file.filename}}">
										</a>
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							{% if product.product_images.count == 0 %}
                                    <img src="{% static 'images/no-image.png' %}" class="img-responsive" alt="">
							{% else %}
								{% for product_image in product.product_images.all  %}
									<div class="product-preview">
										<img src="{{product_image.file.url}}" height="120" width="150" class="img-responsive" alt="{{product.image.file.filename}}">
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
						
							<h2 class="product-name">{{product.title}}</h2>
							{% comment %} <div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#">10 Review(s) | Add your review</a>
							</div> {% endcomment %}
							<div>
							
								<h4 class="product-price">{{product.price|price_format_cup}} 
									{% if product.old_price > 0 %}
										<del class="product-old-price">{{product.old_price|price_format_cup}}</del>
									{% endif %} 
								</h4>
												
								<br>
								{% if not product.digital %}
									<div style="color: blue; font-size: large;">{{product.stock}} en stock</div>
							
								{% endif %}
							</div>
							<p>{{product.description|truncatewords:15}}</p>

							{% if not product.digital %}
								<form method="POST" class="product-details">
									{% csrf_token %}
									{{ form|crispy }}
									{% comment %} <button type='submit' class="btn btn-sm btn-primary buy-now" >Add to cart</button> {% endcomment %}
									<div class="add-to-cart">
									{% if request.user.is_authenticated %}
										<button type='submit' class="add-to-cart-btn" onclick="showLoader()"><i class="fa fa-shopping-cart"></i> agregar a carrito</button>
									{% endif %}
									</div>
								</form>
							{% else %}
{% comment %} ***************** COMPRUEBA SI EL PRODUCTO DIGITAL YA ESTA AGREGADO A LALIBRERIA DEL USAUARIO ***************** {% endcomment %}
								{% if product in request.user.library.products.all %}
						
									<br>
									{% if product.content_url %}
										<a  onclick="showLoader()" style="margin: 10px;"  href="{{product.content_url}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
											Acceder a enlace
										</a>
									{% endif %}
													
									<br>
									{% if product.content_file %}
										<a onclick="showLoader()" style="margin: 10px;" href="{% url 'profile:product_file_view' product.pk %}" class="btn btn-primary">
											Descargar archivo
										</a>
									{% endif %}

								{% else %}
									<form action="{% url 'shop:payment-enzona-digital-product' product.pk%}"  class="product-details" method="POST">
										{% csrf_token %}
										
										<input type="hidden" name="title" value="{{product.title}}">
										<input type="hidden" name="description" value="{{product.description}}">
										<input type="hidden" name="price" value="{{product.price}}">
										<div class="add-to-cart">								
											{% if not request.user.is_authenticated %}
												<button data-toggle="modal" data-target="#exampleModal" type="button" class="add-to-cart-btn"><i class="fa fa-fa-credit-card"></i> COMPRAR</button>
											{% else %}
												<button type="submit"  class="add-to-cart-btn" onclick="showLoader()"><i class="fa fa-credit-card"></i> COMPRAR</button>
											{% endif %}
										</div>
									</form>
								{% endif %}
								
							
							{% endif %}

 								<div class="add-to-cart">								
									{% if not request.user.is_authenticated %}
										{% if not product.digital %}
											<button data-toggle="modal" data-target="#exampleModal"  class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> agregar a carrito</button>
										{% endif %}
									{% endif %}
                                </div>
 	
							<hr>
							{% if request.user.profile.affiliated %}
							
								<form action="{% url 'affiliate:shortener'%}" method="post">
									{% csrf_token %}
									<input type="hidden" name="long_url" value="{{product.get_absolute_url}}">
									<input type="hidden" name="product_id" value="{{product.id}}">
									<button type="submit" class="btn btn-success" onclick="showLoader()">Referir producto <i class="fa fa-share"></i></button>
								</form>

							{% endif %}
							{% comment %} <div class="product-options">
								<label>
									Size
									<select class="input-select">
										<option value="0">X</option>
									</select>
								</label>
								<label>
									Color
									<select class="input-select">
										<option value="0">Red</option>
									</select>
								</label>
							</div> {% endcomment %}

							{% comment %} <div class="add-to-cart">
								<div class="qty-label">
									Qty
									<div class="input-number">
										<input type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div> {% endcomment %}

							{% comment %} <ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
							</ul> {% endcomment %}

							<ul class="product-links">
								<li>Categorias:</li>
                                {% for product_cat in product.category.all   %}
								    <li><a  onclick="showLoader()" href="{{product_cat.get_absolute_url}}">{{product_cat}}</a></li>
                                {% endfor %}
							</ul>

							{% comment %} <ul class="product-links">
								<li>Share:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul> {% endcomment %}

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Descripción</a></li>
								<li><a data-toggle="tab" href="#tab2">Detalles</a></li>
								{% comment %} <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li> {% endcomment %}
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p>{{product.description}}</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<p>{{product.details|safe}}</p>
										</div>
									</div>
								</div>
								<!-- /tab2  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>4.5</span>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 80%;"></div>
														</div>
														<span class="sum">3</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 60%;"></div>
														</div>
														<span class="sum">2</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">
												<ul class="reviews">
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
														</div>
													</li>
												</ul>
												<ul class="reviews-pagination">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form class="review-form">
													<input class="input" type="text" placeholder="Your Name">
													<input class="input" type="email" placeholder="Your Email">
													<textarea class="input" placeholder="Your Review"></textarea>
													<div class="input-rating">
														<span>Your Rating: </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>
													<button class="primary-btn">Submit</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>




        <div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->


<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							{% if product.related_products %}
								{% if product.related_products.firts != product.id %}
									<h3 class="title">También te puede interesar</h3>
									<div class="section-nav">
										<ul class="section-tab-nav tab-nav">
											<li class="active"><a data-toggle="tab" href="#tab1">Todos</a></li>
											{% comment %} <li><a data-toggle="tab" href="#tab1">Smartphones</a></li> {% endcomment %}
											{% comment %} <li><a data-toggle="tab" href="#tab1">Cameras</a></li> {% endcomment %}
											{% comment %} <li><a data-toggle="tab" href="#tab1">Accessories</a></li> {% endcomment %}
										</ul>
									</div>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for related_product in product.related_products.all  %}
											 {% if related_product.id != product.id %}
										
											<div class="product">
													<a onclick="showLoader()" href="{{ related_product.get_absolute_url }}">
												<div class="product-img">
														{% if not related_product.image %}
															<img src="{% static 'images/no-image.png' %}" height="200" width="200">
														{% else %}
															<img src="{{related_product.image.url}}" height="200" width="200">
														{% endif %}
														<div class="product-label">
										 					{% if related_product.old_price > 0 %}
																<span class="sale">{% discount related_product.old_price related_product.price%}</span>
															{% endif %}
															{% if  related_product.new %}
																<span class="new">NUEVO</span>													
															{% endif %}
														</div>
												</div>
													</a>
												<div class="product-body">
													<p class="product-category">
													 	{% for product_cat in related_product.category.all   %}
								    						<a onclick="showLoader()" href="{{product_cat.get_absolute_url}}"> [{{product_cat}}] </a>
                                						{% endfor %}
													</p>
													<a onclick="showLoader()" href="{{ related_product.get_absolute_url }}">
														<h3 class="product-name">{{related_product.title}}</h3>
														<h4 class="product-price">{{related_product.price|price_format_cup}} 
														{% if related_product.old_price > 0 %}
														 <del class="product-old-price">{{related_product.old_price|price_format_cup}}</del>
														{% endif %}</h4>
													</a>
													<div class="product-rating">
														{% comment %} <i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i> {% endcomment %}
													</div>
														<div class="product-btns">
												{% comment %} {% if product in user.profile.whishlist.all%} FUNCIONA OK
													<a href="{% url 'profile:addorremovetowhishlist' product.id %}" class="add-to-wishlist" style="color: #D10024;"><i class="fa fa-heart"></i><span class="tooltipp"> 
													</span></a>
												{%else%}
													<a href="{% url 'profile:addorremovetowhishlist' product.id %}" class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">
													 </span></a>
												{%endif%}
											
												<br> {% endcomment %}
											{% if request.user.is_authenticated %}
													{% if related_product.digital %}
														{% if related_product in request.user.library.products.all %}
						
															{% if related_product.content_url %}
																<a  onclick="showLoader()" style="margin: 10px;"  href="{{related_product.content_url}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
																	Acceder a enlace
																</a>
															{% endif %}
																			
															{% if related_product.content_file %}
																<a onclick="showLoader()" style="margin: 10px;" href="{% url 'profile:product_file_view' related_product.pk %}" class="btn btn-primary">
																	Descargar archivo
																</a>
															{% endif %}
														{% else %}
															<form action="{% url 'shop:payment-enzona-digital-product' related_product.pk%}"  method="POST">
															{% csrf_token %}
															
															<input type="hidden" name="title" value="{{related_product.title}}">
															<input type="hidden" name="description" value="{{related_product.description}}">
															<input type="hidden" name="price" value="{{related_product.price}}">
															<button onclick="showLoader()" type="submit" class="btn btn-warning quick-view"><i class="fa fa-credit-card"></i> COMPRAR</button>
															</form>
														{%endif%}
													{% else %}
														<form action="{%url 'shop:add-to-cart' related_product.id %}" method="POST" >{% csrf_token %}
														<input type="hidden" name="quantity" value="1">
														
														<button onclick="showLoader()" type="submit" class="btn btn-success quick-view"><i class="fa fa-shopping-cart" style="font-size: large;"></i><span class="tooltipp"> Comprar</span></button>
														
														</form>
													{% endif %}
												{% else %}
													{% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> {% endcomment %}

													<button type="button" class="quick-view" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-shopping-cart" style="font-size: x-large;"></i><span class="tooltipp">Agregar a carrito</span></button>
												{% endif %}
												{% comment %} <a href="#" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp"> Ver lista</span></a> {% endcomment %}
											</div>
												</div>
												{% comment %} <div class="add-to-cart">
												
													
													<button data-product="{{product.id}}" data-action="add" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
													
												</div> {% endcomment %}
											</div>
											{%endif%}
										{% endfor %}
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>

















				
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>





{% endblock %}