{% extends "emails/base_email.html" %}
{% load price_format_tags %}


{% block content %}
<div align="left">

    <h4 align="center">
        Este es un correo de confirmacion de la order emitida al usuario <strong> {{order.user.username}}</strong>
    </h4>
    <div>
        <strong> Orden:</strong> #{{order.id}}<br>
    </div>
    <div>
    <strong> Metodo de pago:</strong> {{order.payment_method}}<br>
    </div>
    <div>
        <strong> Total a pagar: </strong> {{order.get_total}}<br>
    </div>
    <div>
        <strong> PRODUCTOS:</strong><br>
    </div>
    {% for item in order.items.all  %}
    <div>
        <hr>
        <strong> Producto:</strong> {{item.product.title}}<br>
    </div>

    <div>
        <strong> Unidades:</strong> {{item.quantity}}<br>
    </div>
    <div>
        <strong> Precio:<strong>  {{item.product.price|price_format_cup}}<br>
    </div>

</div>

{% endfor %}
						

{% endblock content %}
