{% extends "emails/base_email.html" %}
{% load price_format_tags %}


{% block content %}
<table>
    <tr>
        <td>
            Este es un correo de confirmacion de la order emitida al usuario {{order.user.username}}<br>
        </td>
    </tr>

    <tr>
        <td>
            Fecha: 
        </td>
        <td>
            {% now "jS F Y H:i" %}
        </td>
    </tr>

    <tr>
        <td>
            Orden 
        </td>
        <td>
            #{{order.id}}
        </td>
    </tr>
    <tr>
        <td>
            Metodo de pago: 
        </td>
        <td>
            {{order.payment_method}}
        </td>
    </tr>
    <tr>
        <td>
            Total a pagar: 
        </td>
        <td>
            {{order.get_total}}
        </td>
    </tr>
    <tr>
        <td>
            Productos:
        </td>
        <td>
            {% for item in order.items.all  %}
            <div>
                Nombre del producto: {{item.product.title}}<br>
            </div>

            <div>
                cantidad de unidades: {{item.quantity}}<br>
            </div>
            <div>
                precio del producto {{item.product.price|price_format_cup}}<br>
            </div>

            {% endfor %}
        </td>
    </tr>
</table>

						

{% endblock content %}
