{% load static %}
{% load cart_template_tags %}

<!DOCTYPE html>
<html lang="es">
	<head>
		{% load pwa %}
		{% progressive_web_app_meta %}

	
		{% comment %} {% progressive_web_app_meta %}  {% endcomment %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Equipo de ArteCriollo" />
		<meta name="copyright" content="Equipo de ArteCriollo" />

{% block meta_tags %}

{% endblock meta_tags %}
		{% comment %} <meta name="title" content="Tienda de productos artesanales - ArteCriollo Cuba" />
		<meta name="keywords" content="Artecriollo cuba, Tienda online en Cuba, Artesanía, Ropa artesanal, Zapatos artesanales, Artículos para decoración, Utiles para el hogar"/>
		<meta name="description" content="Productos artesanales y manufacturados, artículos para el hogar, ropa, zapatos y mucho más. Obtén productos a precios por debajo de su valor real.¿Quieres saber cómo lo hacemos posible, accede y veras?😉​"/> {% endcomment %}

		<!-- OpenGraph -->
{% block open_graph %}

{% endblock open_graph %}
		{% comment %} <meta property="og:url" content="https://artecriollo.nat.cu/"/>
		<meta property="og:title" content="Tienda online de productos artesanales | ArteCriollo"/>
		<meta property="og:image" content="https://artecriollo.nat.cu/static/images/icon_share.jpg" xmlns:og="http://opengraphprotocol.org/schema/"/>
		<meta property="og:description" content="Productos artesanales y manufacturados, artículos para decoración, utiles para el hogar, ropa, zapatos y mucho más. Obtén los mejores productos a los mejores precios ¿Cómo lo hacemos?🤗​" xmlns:og="http://opengraphprotocol.org/schema/"/>
		
		<meta property="og:type" content="website"/>
		<meta property="og:locale" content="es_ES"/> {% endcomment %}

		<link rel="canonical" href="https://artecriollo.nat.cu/shop/">
		
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


		<title>{% block head_title %}{% endblock %} | ArteCriollo</title>
  		{% block extra_head %}
    	{% endblock %}
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
 		<!-- animate.css -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">


		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{% static 'new/css/bootstrap.min.css' %}"/>
		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="{% static 'new/css/slick.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'new/css/slick-theme.css' %}"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="{% static 'new/css/nouislider.min.css' %}"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{% static 'new/css/font-awesome.min.css' %}">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{% static 'new/css/style.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'new/css/mystyle.css' %}"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />





{% comment %} Necesario para los widgets del admin {% endcomment %}
<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/> 


{% comment %} ICONO DEL SITIO {% endcomment %}
<link rel="shortcut icon"  type="image/png" href="{%static 'images/icon.ico' %}" />

{% comment %} <link rel="icon" sizes="32x32" href="{% static 'images/icon.png'%}"> {% endcomment %}
{% comment %} <link rel="icon" sizes="32x32" href="http://127.0.0.1:8000/media/images/icon.png"> {% endcomment %}

<script src="https://www.google.com/recaptcha/api.js?render=6Lcp5zQgAAAAABxMCgINkEovuLi0EACYhB3cVZZV"></script>
<script>
    grecaptcha.ready(function() {
    // do request for recaptcha token
    // response is promise with passed token
        grecaptcha.execute('6Lcp5zQgAAAAABxMCgINkEovuLi0EACYhB3cVZZV', {action:'validate_captcha'})
                  .then(function(token) {
            // add token value to form
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QM27MXXTZ7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QM27MXXTZ7');
</script>
</head>
	<body>
		<div id="loading"></div>
{% comment %} 	
		<marquee behavior="Scroll" direction="Left" style="background: green; position: static;" >
			<p style="color: aliceblue; font-size: medium;"> Este sitio es funcinal aunque aún se encuentra en fase beta por lo que pedimos disculpas por cualquier error que se prensente. De ocurrir algún error, por favor no dude en <a href="{% url 'contact' %}"> <strong style="color: honeydew;">contactar </strong></a> con nosotros, Muchas gracias</p>
		</marquee>
	  {% endcomment %}

	<a href="https://wa.me/5351183924?text=Me%20gustaría%conocer%20a%20detalles%20sobre%20los%20productos%20y%20ofertas%20que%20tienen%20" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

		<!-- HEADER -->
			{% include 'parts/header.html' %}
	
		<!-- /HEADER -->
		<!-- NAVIGATION -->
		{% include "parts/navigation.html" %}
		<!-- /END NAVIGATION -->
		<div id="message">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
						<span class="alert-inner--text">{{ message }}</span>
					
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		{% include "components/modal_login_component.html" %}

        {% block content %}
        
        {% endblock content %}




		<!-- NEWSLETTER -->
		{% include "parts/newsletter.html" %}
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			{% include "parts/top_footer.html" %}
			<!-- /top footer -->

			<!-- bottom footer -->
			{% include "parts/bottom_footer.html" %}
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
	    {% include 'parts/scripts.html' %}

{% block scripts %}

{% endblock scripts %}

	</body>
</html>
