{% extends "base.html" %}

{% block content %}


		<!-- SECTION -> CATEGORY-HOME -->
		{% include "parts/section_category_home.html" %}
		<!-- /END SECTION -> CATEGORY-HOME-->

		<!-- SECTION -> NEW PRODUCTS -->
		{% include "parts/section_new_products.html" %}
		<!-- /END SECTION -> NEW PRODUCTS-->

		<!-- HOT DEAL SECTION -->
		{% include "parts/section_hot_product.html" %}
		
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		{% include "parts/top_selling.html" %}

		<!-- /SECTION -->

		<!-- SECTION -->
		{% include "parts/top_selling_for_category.html" %}
		
		<!-- /SECTION -->

{% endblock content %}