
{% extends "base.html" %}


{% block meta_tags %}
		<meta name="title" content="Tienda de productos artesanales - ArteCriollo Cuba" />
		<meta name="keywords" content="Artecriollo cuba, Tienda online en Cuba, Artesanía, Ropa artesanal, Zapatos artesanales, Artículos para decoración, Utiles para el hogar"/>
		<meta name="description" content="Productos artesanales y manufacturados, artículos para el hogar, ropa, zapatos y mucho más. Obtén productos a precios por debajo de su valor real.¿Quieres saber cómo lo hacemos posible, accede y veras?😉​"/>
{% endblock meta_tags %}

{% block open_graph %}
		<meta property="og:url" content="https://artecriollo.nat.cu/"/>
		<meta property="og:title" content="Tienda online de productos artesanales | ArteCriollo"/>
		<meta property="og:image" content="https://artecriollo.nat.cu/static/images/icon_share.jpg" xmlns:og="http://opengraphprotocol.org/schema/"/>
		<meta property="og:description" content="Productos artesanales y manufacturados, artículos para decoración, utiles para el hogar, ropa, zapatos y mucho más. Obtén los mejores productos a los mejores precios ¿Cómo lo hacemos?🤗​" xmlns:og="http://opengraphprotocol.org/schema/"/>
{% endblock open_graph %}
		

{% block head_title %}
Tienda de productos Artesanales y manufacturados
{% endblock head_title %}


{% block content %}

{% comment %} <form action="{%url 'download1'%}" method="post">
	{% csrf_token %}
<button type="submit">Desargar</button>
</form> {% endcomment %}
		<!-- SECTION -> CATEGORY-HOME -->
		{% include "parts/section_category_home.html" %}
		<!-- /END SECTION -> CATEGORY-HOME-->

		<!-- SECTION -> NEW PRODUCTS -->
		{% include "parts/section_new_products.html" %}
		<!-- /END SECTION -> NEW PRODUCTS-->

		<!-- SECTION -> NEW SUBASTAS -->
		{% comment %} {% include "parts/section_new_subastas.html" %} {% endcomment %}
		<!-- /END SECTION -> NEW SUABSTAS-->

		

		<!-- HOT DEAL SECTION -->
		{% comment %} {% include "parts/section_hot_product.html" %} {% endcomment %}
		
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		{% comment %} {% include "parts/top_selling.html" %} {% endcomment %}

		<!-- /SECTION -->

		<!-- SECTION -->
		{% comment %} {% include "parts/top_selling_for_category.html" %} {% endcomment %}
		
		<!-- /SECTION -->

{% endblock content %}