{% load static %}

<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<!-- <li><a href="#"><i class="fa fa-cc-visa"></i> -->
									{% comment %} <thumbnail>
										<a href="https://www.enzona.net/inicio" rel="noopener noreferrer" target="_blank" > <img src="{% static 'images/enzona/logo.png' %}" height="50"/></a>
									</thumbnail>
								</a></li> {% endcomment %}
								<li>
									<a href="https://www.bc.gob.cu/institucion/bancaria/20" rel="noopener noreferrer" target="_blank" > 
										<thumbnail>
											<img src="{% static 'images/tarjetas/tarjeta-banco-metropolitano.jpg' %}" height="50"/></a>
										</thumbnail>
									</a>
								</li>
								<li>
									<a href="https://www.bc.gob.cu/institucion/bancaria/22" rel="noopener noreferrer" target="_blank" > 
										<thumbnail>
											<img src="{% static 'images/tarjetas/tarjeta-bpa.jpg' %}" height="50"/></a>
										</thumbnail>
									</a>
								</li>
								<li>
									<a href="https://www.bc.gob.cu/institucion/bancaria/17" rel="noopener noreferrer" target="_blank" > 
										<thumbnail>
											<img src="{% static 'images/tarjetas/tarjeta-bandec.jpg' %}" height="50"/></a>
										</thumbnail>
									</a>
								</li>
								{% comment %} <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li> {% endcomment %}
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | creado con <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="https://artecriollo.nat.cu" target="_blank">ArteCriollo</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>