{% load static %}
{% load cart_template_tags %}
{% load site_info_tags %}
{% load whishlist_tags %}
{% load price_format_tags %}
{% load categories_list_tags %}


	<header>
			<!-- TOP HEADER -->
			<div id="top-header">
			<!-- Large modal -->

				<div class="container">
					<ul class="header-links pull-left">
                        {% site_info as info %}
						<li><a href="tel:+5351183924"><i class="fa fa-phone"></i> {{info.phone}}</a></li>
						<li><a href="mailto:artecriollo@gmail.com"><i class="fa fa-envelope-o"></i> {{info.email}}</a></li>
                       
                    </ul>
					<ul class="header-links pull-right">
						<li>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'profile' %}"><span><i class="fa fa-user-o"></i>Mi cuenta</span></a>
                            {% else %}
                                <a href="{% url 'account_login' %}"><span><i
                                class="fa fa-sign-in"></i>Acceder |</span></a>
								
                                <a href="{% url 'account_signup' %}"><span><i
                                class="fa fa-user"></i>Registrarse</span></a>
                            {% endif %}
                        {% comment %} <a href="#"><i class="fa fa-user-o"></i> My Account</a> {% endcomment %}
                        </li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-2">
							<div class="header-logo">
								{% comment %} <a href="#" class="logo">
									<img src="./img/logo.png" alt="">
								</a> {% endcomment %}
                                 <a href="{% url 'home' %}">
                                    <img class="img-fluid" src="{% static 'images/imagen-inicio.png' %}" height="40px" style="margin-top: 10px; max-width: 150px;"/>
                                </a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-7">
							<div class="header-search">

								<form action="{% url 'search_results' %}" method="GET" class="contenedor-flexbox">
								
									<select name="q_category" id="select_search" style="width:35%; display:inline-block;" class="input-select">								
										<option value="0">Categorias</option>
										{%categories_list_tag as cat_list %}
                                        {% for cat in cat_list %}
											{% if cat.active and cat.product_set.count %}
												<option  value="{{cat.id}}">{{cat.name}}</option>
											
											{% endif %}
                                        {% endfor %}
									</select>
									<input name="q" class="input" id="search" style="width:45%; display:inline-block;" placeholder="Buscar aquí">
									<button class="search-btn" style="width:20%; display:inline-block;">Buscar</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								{% comment %} <div> FUNCIONA OK
									<a href="{% url 'shop:whishlist' %}">
										
										{% if request.user.profile.whishlist %}
											<i class="fa fa-heart"></i>
											<span>Lista de deseo</span>
											{% else %}
											<i class="fa fa-heart-o"></i>
											<span>Lista de deseo</span>
										{% endif %}										
										<div class="qty">{{request|whishlist_count}}</div>
									</a>
								</div> {% endcomment %}
								<!-- /Wishlist -->

								<!-- Cart -->
													
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Carrito</span>
										<div class="qty">{{request|cart_item_count}}</div>
									</a>
								
									<div class="cart-dropdown" id="my-cart-dropdown">
										<div class="cart-list">
											{% for cart_item in request|cart_item_order %}
												<div class="product-widget">
													<div class="product-img">
														<img src="{{cart_item.product.image.url}}" alt="">
													</div>
													<div class="product-body">
														<h3 class="product-name"><a href="{{cart_item.product.get_absolute_url}}">{{cart_item.product.title}}</a></h3>
														<h4 class="product-price"><span class="qty">{{cart_item.quantity}}x</span>{{cart_item.product.price|price_format_cup}}</h4>
													</div>
													<form action="{% url 'shop:remove-from-cart' cart_item.id %}">
														<button class="delete"><i class="fa fa-close"></i></button>
													</form>
												</div>
											{%endfor%}

										</div>
										<div class="cart-summary">
											<small>Producto(s): {{request|cart_item_count}}</small>
											<h5>SUBTOTAL: {{request|cart_item_order_subtotal_price}}</h5>
										</div>
										<div class="cart-btns">
											<a href="{% url 'shop:summary' %}">Ver carro</a>
											<a href="{% url 'shop:checkout' %}">Chequear<i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>