{% load social_red_tags %}

<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Subscríbete para estar al día con <strong>NUEVAS OFERTAS!</strong></p>
							<form action="{% url 'newsletters:subscribe' %}" method="POST">
								{% csrf_token %}
								<input class="input" name="email" type="email" placeholder="Ingresa tu correo">
								<button class="newsletter-btn" onclick="showLoader()"><i class="fa fa-envelope"></i> Subscríbete</button>
								{% comment %} <form id="form_id" method="post" action="your_action.php"> {% endcomment %}
								<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
								<input type="hidden" name="action" value="validate_captcha">

							</form>
							<div>
								Síguenos en:
							</div>
							<ul class="newsletter-follow">	
								<li>
									<a href="https://www.facebook.com/artecriollocuba" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="https://www.instagram.com/artecriollocuba/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
								</li>
							
								<li>
									<a href="https://www.pinterest.com/artecriollocuba/" target="_blank" rel="noopener noreferrer"><i class="fa fa-pinterest"></i></a>
								</li>
							
							</ul>
							
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
	