{% load static %}


<script src="{% static 'new/js/jquery.min.js' %}"></script>
<script src="{% static 'new/js/bootstrap.min.js' %}"></script>
<script src="{% static 'new/js/slick.min.js' %}"></script>
<script src="{% static 'new/js/nouislider.min.js' %}"></script>
<script src="{% static 'new/js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'new/js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/es.js"></script>
<script src="{% static 'new/js/moment/moment.js' %}"></script>
<script src="{% static 'new/js/moment/moment-with-locales.js' %}"></script>
<script src="{% static 'new/js/countdown.js' %}"></script>





<script type="text/javascript">




	$('.select2').select2({
		language: "es"
	})


		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)


	$(document).ready(function() { 
		$('.button').on('click', function(){
        //Añadimos la imagen de carga en el contenedor
			{% comment %} $('#content').html('<div class="loading"><img src="images/loader.gif" alt="loading" /><br/>Un momento, por favor...</div>'); {% endcomment %}
			$('#modalLoading').modal('show');
			$.ajax({
				type: "POST",
				url: "ajax.php",
				success: function(data) {
					//Cargamos finalmente el contenido deseado
					{% comment %} $('#content').fadeIn(1000).html(data); {% endcomment %}
					$('#modalLoading').modal('hide');
				}
			});
			return false;
    	});   
	});      


	//////////////LOADING////////////

function hideLoader() {
    $('#loading').hide();
}
function showLoader() {
    $('#loading').show();
}
$(window).ready(hideLoader);
setTimeout(hideLoader, 20 * 1000);




</script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>




{% comment %} 
SCRIPTS OLDS
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
 {% endcomment %}
