{% load price_format_tags %}
{% load discount_tags %}
{% load static %}

<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Productos recientes</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Todos</a></li>
									{% comment %} <li><a data-toggle="tab" href="#tab1">Smartphones</a></li> {% endcomment %}
									{% comment %} <li><a data-toggle="tab" href="#tab1">Cameras</a></li> {% endcomment %}
									{% comment %} <li><a data-toggle="tab" href="#tab1">Accessories</a></li> {% endcomment %}
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for product in new_products  %}
										
											<div class="product">
												<div class="product-img">
													{% if not product.image %}
														<img src="{% static 'images/no-image.png' %}" height="200" width="200" alt="">
													
													{% else %}
														<img src="{{product.image.url}}" height="200" width="200" alt="">
													{% endif %}
													<div class="product-label">
														{% if product.old_price > 0 %}
															<span class="sale">{% discount product.old_price product.price%}</span>
														{% endif %}
														{% if  product.new %}
															<span class="new">NUEVO</span>													
														{% endif %}
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">
													 	{% for product_cat in product.category.all   %}
								    						<a href="{{product_cat.get_absolute_url}}"> [{{product_cat}}] </a>
                                						{% endfor %}
													</p>
													<a href="{{ product.get_absolute_url }}">
														<h3 class="product-name">{{product.title}}</h3>
														<h4 class="product-price">{{product.price|price_format_cup}} 
														{% if product.old_price > 0 %}
														 <del class="product-old-price">{{product.old_price|price_format_cup}}</del>
														{% endif %}</h4>
													</a>
													{% if not product.digital %}
														<div style="color: blue;">{{product.stock}} en stock</div>
													{% else %}
														<div> </div>
													{% endif %}

													<div class="product-rating">
														{% comment %} <i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i> {% endcomment %}
													</div>
														<div class="product-btns">
												{% if not product.digital %}
												
													{% comment %} {% if product in user.profile.whishlist.all%} FUNCIONA OK
														<a href="{% url 'profile:addorremovetowhishlist' product.id %}" class="add-to-wishlist" style="color: #D10024;"><i class="fa fa-heart"></i>
														</a>
													{%else%}
														<a href="{% url 'profile:addorremovetowhishlist' product.id %}" class="add-to-wishlist"><i class="fa fa-heart-o"></i>
														</a>
													{%endif%} {% endcomment %}
										
												{% endif %}
												{% comment %} <form action="{% url 'profile:addorremovetowhishlist' product.id %}"> {% endcomment %}
												{% comment %} </form> {% endcomment %}
												<!-- <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> -->
												<br>
												{% if request.user.is_authenticated %}
													{% if product.digital %}
														{% if product in request.user.library.products.all %}
						
															{% if product.content_url %}
																<a  style="margin: 10px;"  href="{{product.content_url}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
																	Acceder a enlace
																</a>
															{% endif %}
																			
															{% if product.content_file %}
																<a style="margin: 10px;" href="{% url 'profile:product_file_view' product.pk %}" class="btn btn-primary">
																	Descargar archivo
																</a>
															{% endif %}
														{% else %}
															<form action="{% url 'shop:payment-enzona-digital-product' product.pk%}"  method="POST">
															{% csrf_token %}
															
															<input type="hidden" name="title" value="{{product.title}}">
															<input type="hidden" name="description" value="{{product.description}}">
															<input type="hidden" name="price" value="{{product.price}}">
															<button type="submit" class="btn btn-warning quick-view"><i class="fa fa-credit-card"></i> COMPRAR</button>
															</form>
														{% endif %}
													{% else %}
														<form action="{%url 'shop:add-to-cart' product.id %}" method="POST" >{% csrf_token %}
														<input type="hidden" name="quantity" value="1">
														
														<button type="submit" class="btn btn-success quick-view"><i class="fa fa-shopping-cart" style="font-size: large;"></i><span class="tooltipp"> Agregar</span></button>
														
														</form>
													{% endif %}
												
												
												{% else %}
													{% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> {% endcomment %}

													<button type="button" class="quick-view" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-shopping-cart" style="font-size: x-large;"></i><span class="tooltipp">Agregar a carrito</span></button>
						
												{% endif %}
											</div>
												</div>
												{% comment %} <div class="add-to-cart">
												
													
													<button data-product="{{product.id}}" data-action="add" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
													
												</div> {% endcomment %}
											</div>
										{% endfor %}
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>