{% load site_info_tags %}
{% load categories_list_tags %}


<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Acerca de</h3>
                                {% site_info as info %}
								<p>{{info.description}}</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>{{info.address}}</a></li>
									<li><a href="tel:+5351183924"><i class="fa fa-phone"></i>{{info.phone}}</a></li>
									<li><a href="mailto:artecriollocuba@gmail.com"><i class="fa fa-envelope-o"></i>{{info.email}}</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">categorias</h3>
								<ul class="footer-links">
								{%categories_list_for_footer as categories_tag%}
								
									{% for cat in  categories_tag %}
										{% if cat.active and  cat.product_set.count %}
											<li><a href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>								
										{% endif %}								
									{% endfor %}
									
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Información</h3>
								<ul class="footer-links">
								<li><a href="{%url 'contact'%}">Contacto</a></li>
								{%pages as pages_tag%}
								{% for page in pages_tag  %}
									<li><a href="{{page.get_absolute_url}}">{{page.name}}</a></li>
								{% endfor %}
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Servicios</h3>
								<ul class="footer-links">
									{% if request.user.is_authenticated %}
										<li><a href="{%url 'profile'%}">Mi cuenta</a></li>
									{% else %}
										<li><a href="{%url 'account_login'%}">Acceder</a></li>
										<li><a href="{%url 'account_signup'%}">Registrarse</a></li>
									{% endif %}
									<li><a href="{%url 'shop:summary'%}">Ver carro</a></li>
									{% comment %} <li><a href="{% url 'shop:whishlist' %}">Lista de deseo</a></li> {% endcomment %}
									{% comment %} <li><a href="#">Pedidos</a></li> {% endcomment %}
									{% comment %} <li><a href="#">Help</a></li> {% endcomment %}
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>